<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simicategory>
            <version>0.1.0</version>
        </Simi_Simicategory>
    </modules>
    <frontend>
        <routers>
            <simicategory>
                <use>standard</use>
                <args>
                    <module>Simi_Simicategory</module>
                    <frontName>simicategory</frontName>
                </args>
            </simicategory>
        </routers>
        <layout>
            <updates>
                <simicategory>
                    <file>simicategory.xml</file>
                </simicategory>
            </updates>
        </layout>
		<translate>
            <modules>
                <Simi_Simicategory>
                    <files>
                        <default>Simi_Simicategory.csv</default>
                    </files>
                </Simi_Simicategory>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml> 
                <args> 
                    <modules> 
                        <Simi_Simicategory after="Mage_Adminhtml">Simi_Simicategory_Adminhtml</Simi_Simicategory>
                    </modules> 
                </args> 
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<simicategory>
					<file>simicategory.xml</file>
				</simicategory>
			</updates>
		</layout>
		<translate>
            <modules>
                <Simi_Simicategory>
                    <files>
                        <default>Simi_Simicategory.csv</default>
                    </files>
                </Simi_Simicategory>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <simicategory>
                <class>Simi_Simicategory_Model</class>
                <resourceModel>simicategory_mysql4</resourceModel>
            </simicategory>
            <simicategory_mysql4>
                <class>Simi_Simicategory_Model_Mysql4</class>
                <entities>
                    <simicategory>
                        <table>simicategory</table>
                    </simicategory>
                </entities>
            </simicategory_mysql4>
        </models>
        <resources>
            <simicategory_setup>
                <setup>
                    <module>Simi_Simicategory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simicategory_setup>
            <simicategory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simicategory_write>
            <simicategory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simicategory_read>
        </resources>
        <blocks>
            <simicategory>
                <class>Simi_Simicategory_Block</class>
            </simicategory>
        </blocks>
        <helpers>
            <simicategory>
                <class>Simi_Simicategory_Helper</class>
            </simicategory>
        </helpers>
    </global>
</config>