<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simipromoteapp>
            <version>0.2.0</version>
        </Simi_Simipromoteapp>
    </modules>
    <frontend>
        <routers>
            <simipromoteapp>
                <use>standard</use>
                <args>
                    <module>Simi_Simipromoteapp</module>
                    <frontName>simipromoteapp</frontName>
                </args>
            </simipromoteapp>
        </routers>
        <layout>
            <updates>
                <simipromoteapp>
                    <file>simipromoteapp.xml</file>
                </simipromoteapp>
            </updates>
        </layout>
		<translate>
            <modules>
                <Simi_Simipromoteapp>
                    <files>
                        <default>Simi_Simipromoteapp.csv</default>
                    </files>
                </Simi_Simipromoteapp>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml> 
                <args> 
                    <modules> 
                        <Simi_Simipromoteapp after="Mage_Adminhtml">Simi_Simipromoteapp_Adminhtml</Simi_Simipromoteapp>
                    </modules> 
                </args> 
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<simipromoteapp>
					<file>simipromoteapp.xml</file>
				</simipromoteapp>
			</updates>
		</layout>
		<translate>
            <modules>
                <Simi_Simipromoteapp>
                    <files>
                        <default>Simi_Simipromoteapp.csv</default>
                    </files>
                </Simi_Simipromoteapp>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <simipromoteapp>
                <class>Simi_Simipromoteapp_Model</class>
                <resourceModel>simipromoteapp_mysql4</resourceModel>
            </simipromoteapp>
            <simipromoteapp_mysql4>
                <class>Simi_Simipromoteapp_Model_Mysql4</class>
                <entities>
                    <simipromoteapp>
                        <table>simipromoteapp</table>
                    </simipromoteapp>
                </entities>
            </simipromoteapp_mysql4>
        </models>
        <resources>
            <simipromoteapp_setup>
                <setup>
                    <module>Simi_Simipromoteapp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simipromoteapp_setup>
            <simipromoteapp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simipromoteapp_write>
            <simipromoteapp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simipromoteapp_read>
        </resources>
        <blocks>
            <simipromoteapp>
                <class>Simi_Simipromoteapp_Block</class>
            </simipromoteapp>
        </blocks>
        <helpers>
            <simipromoteapp>
                <class>Simi_Simipromoteapp_Helper</class>
            </simipromoteapp>
        </helpers>
        <events>
            <customer_register_success>
                <observers>
                    <simipromoteapp_observers>
                        <class>simipromoteapp/observer</class>
                        <method>customerRegister</method>
                    </simipromoteapp_observers>
                </observers>
            </customer_register_success>
            <checkout_onepage_controller_success_action>
                <observers>
                    <simipromoteapp_observers>
                        <class>simipromoteapp/observer</class>
                        <method>onepageSuccess</method>
                    </simipromoteapp_observers>
                </observers>
            </checkout_onepage_controller_success_action>
            <newsletter_subscriber_save_after>
                <observers>
                    <simipromoteapp_observers>
                        <class>simipromoteapp/observer</class>
                        <method>subscribedToNewsletter</method>
                    </simipromoteapp_observers>
                </observers>
            </newsletter_subscriber_save_after>
        </events>
        <template>
            <email>
                <email_register_template translate="label" module="simipromoteapp">
                    <label>Email Template for Registering Customer</label>
                    <file>email_register.html</file>
                    <type>html</type>
                </email_register_template>
                <email_subscriber_template translate="label" module="simipromoteapp">
                    <label>Email Template for Subscribering Newsletter</label>
                    <file>email_subscriber.html</file>
                    <type>html</type>
                </email_subscriber_template>
                <email_purchase_template translate="label" module="simipromoteapp">
                    <label>Email Template for Purchasing Order</label>
                    <file>email_purchase.html</file>
                    <type>html</type>
                </email_purchase_template>
            </email>
        </template>
    </global>
    <default>
        <simipromoteapp>
            <general>
                <enable>1</enable>
            </general>
            <email>
                <enable>1</enable>
                <sender_name_identity><![CDATA[]]></sender_name_identity>
                <sender_email_identity><![CDATA[]]></sender_email_identity>
                <email_for_register_template>email_register_template</email_for_register_template>
                <email_for_purchasing_template>email_purchase_template</email_for_purchasing_template>
                <email_for_subscriber_template>email_subscriber_template</email_for_subscriber_template>
            </email>
            <chart>
                <enable>1</enable>
                <chart_title><![CDATA[Transaction Report]]></chart_title>
                <by_app><![CDATA[Purchased via Apps]]></by_app>
                <by_website><![CDATA[Purchased via Website]]></by_website>
                <percent><![CDATA[Percent]]></percent>
            </chart>
            <cms>
                <section_image_first_block><![CDATA[default/image01.jpg]]></section_image_first_block>
                <section_image_second_block><![CDATA[default/image02.jpg]]></section_image_second_block>
                <section_image_small_third_block><![CDATA[default/image03-02.jpg]]></section_image_small_third_block>
                <section_image_large_third_block><![CDATA[default/image03.jpg]]></section_image_large_third_block>
                <section_image_fourth_block><![CDATA[default/image04.jpg]]></section_image_fourth_block>
            </cms>
        </simipromoteapp>
    </default>
</config>