<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simipayuindia>
            <version>0.1.0</version>
        </Simi_Simipayuindia>
    </modules>
    <frontend>
        <routers>
            <simipayuindia>
                <use>standard</use>
                <args>
                    <module>Simi_Simipayuindia</module>
                    <frontName>simipayuindia</frontName>
                </args>
            </simipayuindia>
        </routers>
        <layout>
            <updates>
                <simipayuindia>
                    <file>simipayuindia.xml</file>
                </simipayuindia>
            </updates>
        </layout>
		<translate>
            <modules>
                <Simi_Simipayuindia>
                    <files>
                        <default>Simi_Simipayuindia.csv</default>
                    </files>
                </Simi_Simipayuindia>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<simipayuindiaadmin>
				<use>admin</use>
				<args>
					<module>Simi_Simipayuindia</module>
					<frontName>simipayuindiaadmin</frontName>
				</args>
			</simipayuindiaadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<simipayuindia>
					<file>simipayuindia.xml</file>
				</simipayuindia>
			</updates>
		</layout>
		<translate>
            <modules>
                <Simi_Simipayuindia>
                    <files>
                        <default>Simi_Simipayuindia.csv</default>
                    </files>
                </Simi_Simipayuindia>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <simipayuindia>
                <class>Simi_Simipayuindia_Model</class>
                <resourceModel>simipayuindia_mysql4</resourceModel>
            </simipayuindia>
            <simipayuindia_mysql4>
                <class>Simi_Simipayuindia_Model_Mysql4</class>
                <entities>
                    <simipayuindia>
                        <table>simipayuindia</table>
                    </simipayuindia>
                </entities>
            </simipayuindia_mysql4>
        </models>
        <resources>
            <simipayuindia_setup>
                <setup>
                    <module>Simi_Simipayuindia</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simipayuindia_setup>
            <simipayuindia_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simipayuindia_write>
            <simipayuindia_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simipayuindia_read>
        </resources>
        <blocks>
            <simipayuindia>
                <class>Simi_Simipayuindia_Block</class>
            </simipayuindia>
        </blocks>
        <helpers>
            <simipayuindia>
                <class>Simi_Simipayuindia_Helper</class>
            </simipayuindia>
        </helpers>
        <events>
            <payment_method_is_active>
                <observers>
                    <simi_simipayuindia_payment_observers>
                        <type>singleton</type>
                        <class>simipayuindia/observer</class>
                        <method>paymentMethodIsActive</method>
                    </simi_simipayuindia_payment_observers>
                </observers>
            </payment_method_is_active>
            <simicart_after_place_order>
                <observers>
                    <simi_simipayuindia_after_place_order>
                        <type>singleton</type>
                        <class>simipayuindia/observer</class>
                        <method>afterPlaceOrder</method>
                    </simi_simipayuindia_after_place_order>
                </observers>
            </simicart_after_place_order>       
            <simi_add_payment_method>
                <observers>
                    <simipayuindia_add_payment_method>
                        <class>simipayuindia/observer</class>
                        <method>addPayment</method>
                    </simipayuindia_add_payment_method>
                </observers>
            </simi_add_payment_method>
        </events>
        <crontab>
            <jobs>            
                <model_updateoderstatus>
                    <schedule><cron_expr>* * * * *</cron_expr></schedule>
                    <run><model>model/cron::updateOderStatus</model></run>
                </model_updateoderstatus>
            </jobs>
        </crontab>
    </global>
    <default>
        <payment>
            <simipayuindia>
                <customer_id backend_model="adminhtml/system_config_backend_encrypted"/>
                <currency>USD</currency>
                <model>simipayuindia/payment</model>
                <title>Payu Checkout</title>
                <secret_word>PUT SECRET WORD HERE</secret_word>
                <check_hash>1</check_hash>
                <direct_return>redirect</direct_return>
                <demo_mode></demo_mode>
                <skip_landing>0</skip_landing>
                <order_status>processing</order_status>
                <fraud_wait>holded</fraud_wait>
                <fraud_passed>pending</fraud_passed>
                <fraud_failed>canceled</fraud_failed>
                <invoice_pending></invoice_pending>
                <invoice_deposited></invoice_deposited>
                <invoice_declined>canceled</invoice_declined>
                <refund_issued>canceled</refund_issued>
                <allowspecific>0</allowspecific>
            </simipayuindia>
        </payment>
    </default>
</config>