<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simipayu>
            <version>0.1.0</version>
        </Simi_Simipayu>
    </modules>
    <frontend>
        <routers>
            <simipayu>
                <use>standard</use>
                <args>
                    <module>Simi_Simipayu</module>
                    <frontName>simipayu</frontName>
                </args>
            </simipayu>
        </routers>
        <layout>
            <updates>
                <simipayu>
                    <file>simipayu.xml</file>
                </simipayu>
            </updates>
        </layout>
		<translate>
            <modules>
                <Simi_Simipayu>
                    <files>
                        <default>Simi_Simipayu.csv</default>
                    </files>
                </Simi_Simipayu>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<simipayuadmin>
				<use>admin</use>
				<args>
					<module>Simi_Simipayu</module>
					<frontName>simipayuadmin</frontName>
				</args>
			</simipayuadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<simipayu>
					<file>simipayu.xml</file>
				</simipayu>
			</updates>
		</layout>
		<translate>
            <modules>
                <Simi_Simipayu>
                    <files>
                        <default>Simi_Simipayu.csv</default>
                    </files>
                </Simi_Simipayu>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <simipayu>
                <class>Simi_Simipayu_Model</class>
                <resourceModel>simipayu_mysql4</resourceModel>
            </simipayu>
        </models>
        <resources>
            <simipayu_setup>
                <setup>
                    <module>Simi_Simipayu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simipayu_setup>
            <simipayu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simipayu_write>
            <simipayu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simipayu_read>
        </resources>
        <blocks>
            <simipayu>
                <class>Simi_Simipayu_Block</class>
            </simipayu>
        </blocks>
        <helpers>
            <simipayu>
                <class>Simi_Simipayu_Helper</class>
            </simipayu>
        </helpers>
        <events>
            <payment_method_is_active>
                <observers>
                    <simi_simipayu_payment_observers>
                        <type>singleton</type>
                        <class>simipayu/observer</class>
                        <method>paymentMethodIsActive</method>
                    </simi_simipayu_payment_observers>
                </observers>
            </payment_method_is_active>
            <simicart_after_place_order>
                <observers>
                    <simi_simipayu_after_place_order>
                        <type>singleton</type>
                        <class>simipayu/observer</class>
                        <method>afterPlaceOrder</method>
                    </simi_simipayu_after_place_order>
                </observers>
            </simicart_after_place_order>       
            <simi_add_payment_method>
                <observers>
                    <simi_simipayu_add_payment_method>
                        <class>simipayu/observer</class>
                        <method>addPayment</method>
                    </simi_simipayu_add_payment_method>
                </observers>
            </simi_add_payment_method>
        </events>
    </global>

    <default>
        <payment>
            <simipayu>
                <active>0</active>
                <model>simipayu/payu</model>
                <order_status>1</order_status>
                <title>PayU</title>
                <merchant_id />
                <secure_key />
                <gateway_url />
            </simipayu>
        </payment>
    </default>
</config>