<?xml version="1.0"?>
<config>
    <modules>
        <Scrumwheel_CurrencyFormat>
            <version>0.1.0</version>
        </Scrumwheel_CurrencyFormat>
    </modules>
    <global>
        <models>
            <directory>
                <rewrite>
                    <currency>Scrumwheel_CurrencyFormat_Model_Currency</currency>
                </rewrite>
            </directory>
        </models>
    </global>
</config>
