<?xml version="1.0"?>

<config>
    <modules>
        <Magestore_PaypalBNCode>
            <version>0.1.0</version>
        </Magestore_PaypalBNCode>
    </modules>
    <global>
        <models>
            <paypalbncode>
                <class>Magestore_PaypalBNCode_Model</class>
            </paypalbncode>
            <paypal>
                <rewrite>
                    <config>Magestore_PaypalBNCode_Model_Config</config>
                </rewrite>
            </paypal>			
        </models>
        <helpers>
            <paypalbncode>
                <class>Magestore_PaypalBNCode_Helper</class>
            </paypalbncode>
        </helpers>
    </global>
</config>