<?xml version="1.0"?>
<config>
    <modules>
        <Scrumwheel_Brandfilter>
            <version>0.1.0</version>
        </Scrumwheel_Brandfilter>
    </modules>
    <global>
        <models>
            <scrumwheel_brandfilter>
                <class>Scrumwheel_Brandfilter_Model</class>
            </scrumwheel_brandfilter>
        </models>
        <resources>
            <scrumwheel_brandfilter_setup>
                <setup>
                    <module>Scrumwheel_Brandfilter</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </scrumwheel_brandfilter_setup>
            <scrumwheel_brandfilter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </scrumwheel_brandfilter_write>
            <scrumwheel_brandfilter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </scrumwheel_brandfilter_read>
        </resources>
    </global>
        <adminhtml>
            <events>
                <catalog_product_edit_action>
                    <observers>
                        <scrumwheel_brandfilter>
                            <class>scrumwheel_brandfilter/observer</class>
                            <method>lockAttributes</method>
                        </scrumwheel_brandfilter>
                    </observers>
                </catalog_product_edit_action>
                <catalog_product_new_action>
                    <observers>
                        <scrumwheel_brandfilter>
                            <class>scrumwheel_brandfilter/observer</class>
                            <method>lockAttributes</method>
                        </scrumwheel_brandfilter>
                    </observers>
                </catalog_product_new_action>
        </events>
        </adminhtml>
</config>