<?xml version="1.0"?>
<config>
  <modules>
    <Mss_Payu>
      <version>0.1.0</version>
    </Mss_Payu>
  </modules>
  <frontend>
    <routers>
      <payu>
        <use>standard</use>
          <args>
            <module>Mss_Payu</module>
            <frontName>payu</frontName>
          </args>
      </payu>
    </routers>
		<layout>
		  <updates>
			<payu>
			  <file>payu.xml</file>
			</payu>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <payu>
        <class>Mss_Payu_Helper</class>
      </payu>
    </helpers>
	<blocks>
	  <payu>
		<class>Mss_Payu_Block</class>
	  </payu>
	</blocks>
  </global>
</config> 