<?xml version="1.0"?>
<config>
  <modules>
    <Mss_Bannerslider>
      <version>0.1.0</version>
    </Mss_Bannerslider>
  </modules>
 
  <frontend>
        <routers>
            <bannerslider>
                <use>standard</use>
                <args>
                    <module>Mss_Bannerslider</module>
                    <frontName>bannerslider</frontName>
                </args>
            </bannerslider>
        </routers>
  </frontend>
 
  <global>
    <helpers>
      <bannerslider>
        <class>Mss_Bannerslider_Helper</class>
      </bannerslider>

    </helpers>
    <blocks>
      <bannerslider>
        <class>Mss_Bannerslider_Block</class>
      </bannerslider>
    </blocks>
	<models>
	  <bannerslider>
		  <class>Mss_Bannerslider_Model</class>
		  <resourceModel>bannerslider_mysql4</resourceModel>
	  </bannerslider>
	  <bannerslider_mysql4>
		  <class>Mss_Bannerslider_Model_Mysql4</class>
  		<entities>		  
  			  <bannerslider>
  				  <table>magentomobile_bannerslider</table>
  			  </bannerslider>
      </entities>
	  </bannerslider_mysql4>
	</models>
	<resources>
	  <bannerslider_setup>
		<setup>
		  <module>Mss_Bannerslider</module>
		</setup>
  		<connection>
  		  <use>core_setup</use>
  		</connection>
	  </bannerslider_setup>
	  <bannerslider_write>
  		<connection>
  		  <use>core_write</use>
  		</connection>
	  </bannerslider_write>
	  <bannerslider_read>
  		<connection>
  		  <use>core_read</use>
  		</connection>
	  </bannerslider_read>
	</resources>
  
  </global>
  <admin>
    <routers>
      <bannerslider>
        <use>admin</use>
        <args>
          <module>Mss_Bannerslider</module>
          <frontName>admin_bannerslider</frontName>
        </args>
      </bannerslider>
    </routers>
  </admin>
    <adminhtml>
     <layout>
          <updates>
            <bannerslider>
              <file>bannerslider.xml</file>
            </bannerslider>
          </updates>
      </layout>
    </adminhtml>
</config> 
