<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Scrumwheel_Address>
            <version>1.1.3</version>
        </Scrumwheel_Address>
    </modules>
    <admin>
        <fieldsets>
            <customer_dataflow>
                <countrycode>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </countrycode>
                <carriercode>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </carriercode>
                <city_id>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </city_id>
            </customer_dataflow>
        </fieldsets>
    </admin>
    <global>
        <models>
            <check>
                <class>Scrumwheel_Address_Model</class>
            </check>
        </models>
        <helpers>
            <address>
                <class>Scrumwheel_Address_Helper</class>
            </address>
        </helpers>
        <resources>
            <address_setup>
                <setup>
                    <module>Scrumwheel_Address</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </address_setup>
            <check_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </check_write>
            <check_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </check_read>
        </resources>
        <fieldsets>
            <sales_copy_order_billing_address>
                <countrycode>
                    <to_order>*</to_order>
                </countrycode>
                <carriercode>
                    <to_order>*</to_order>
                </carriercode>
                <city_id>
                    <to_order>*</to_order>
                </city_id>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <countrycode>
                    <to_order>*</to_order>
                </countrycode>
                <carriercode>
                    <to_order>*</to_order>
                </carriercode>
                <city_id>
                    <to_order>*</to_order>
                </city_id>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <countrycode>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </countrycode>
                <carriercode>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </carriercode>
                <city_id>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </city_id>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <countrycode>
                    <to_quote_address>*</to_quote_address>
                </countrycode>
                <carriercode>
                    <to_quote_address>*</to_quote_address>
                </carriercode>
                <city_id>
                    <to_quote_address>*</to_quote_address>
                </city_id>
            </sales_convert_order_address>
            <customer_address>
                <countrycode>
                    <to_quote_address>*</to_quote_address>
                </countrycode>
                <carriercode>
                    <to_quote_address>*</to_quote_address>
                </carriercode>
                <city_id>
                    <to_quote_address>*</to_quote_address>
                </city_id>
            </customer_address>
            <checkout_onepage_billing>
                <countrycode>
                    <to_customer>*</to_customer>
                </countrycode>
                <carriercode>
                    <to_customer>*</to_customer>
                </carriercode>
                <city_id>
                    <to_customer>*</to_customer>
                </city_id>
            </checkout_onepage_billing>
        </fieldsets>
    </global>
</config>